*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
form{
  width:100%;
  display:flex;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}
.submit{
  background-color: rgb(12, 223, 12);
  border: none;
  padding: 2px;
}
.desc{
  width: 350px;
  height: 30px;
}
.cards{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  gap: 1rem;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  background-color: rgb(24, 212, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding-block: 5px;
}
#delete{
  padding: 5px;
  font-weight: 1000;
  font-size: 1rem;
  background-color: red;
  border: none;
}
#edit{
  padding: 5px;
  font-weight: 1000;
  font-size: 1rem;
  background-color: rgb(47, 218, 25);
  border: none;
  margin-top: 5px;
}